@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.container{
    
}

.home{
    background-color: #2c2d2e;
    height:100vh;
}
.about{
    height:100vh;
}

.skill{
    height:100vh;
}



.home .header{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    color:white;
    justify-content: space-between;
    padding: 40px 100px;
    transition: 0.6s;
    /* border-bottom: 3px solid #30a33a; */
}

.home .sticky{
    padding: 20px 100px;
    background: white;
    transition: 0.6s;
}

.menu ul{
   display:flex;
   justify-content: space-between;
   align-items: center;
}

.menu ul li{
    list-style-type: none;
    text-transform: uppercase;
}

.menu ul li a{
    margin: 0 15px;
    font-size: 0.9em;
    text-decoration: none;
    color:white;
    letter-spacing:  2px; /* Espaço entre as letras*/
    font-weight: 500px;
    transition: 0.6s;
}

.home .sticky ul li a{
    color: black;
}


.home section{
    display: flex;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home section .perfil{
    width: 200px;
    height: 200px;
    border-radius: 125px;
    background-image: url(../assets/images/photoPerfil.jpeg);
    background-size: cover;
    background-position: center;
}

.home section .description{
    color: white;
    font-size: 1.3em;
    margin: 10px;
    text-align: center;
}

.destaqueName{
    color: #30a33a;
}

@media (height:500px) {
    .home{
        background-color: tomato;

    }
}